<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color: #ffffff" name="menu"></ion-icon>
    </ion-button>
    <ion-title>
      Chat Live
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let chat of chatRooms" (click)="openChat(chat)">
      <ion-avatar slot="start">
        <ion-img src="https://picsum.photos/200/300"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><b>{{chat.name}} </b></h2>
      </ion-label>
    </ion-item>

  </ion-list>
  <img class="icon" src="assets/icon/charla.svg">
</ion-content>
